body {
    margin: 0;
    padding: 0;
    background: #ccee66;
    color: white;
    font-family: "Noto Sans", sans-serif;
    overflow: hidden;
}

body::before {
    content: '';
    background: #090909;
    position: absolute;
    top: 0;
    right: 600px;
    transform: rotate(-70deg);
    width: 100%;
    height: 120%;
    z-index: -1;
}

.img-logo {
    width: 80px;
    padding: 50px 50px;
}

h4 {
    font-size: 25px;
}

h1 {
    font-size: 80px;
}

p {
    font-size: 16px;
    margin-bottom: 40px;
}

.carrinho {
    background-color: #a3be52;
    color: black;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
    margin: 50px 150px;
}

.carrinho:hover {
    opacity: 0.8;
}

.img-tenis {
    width: 800px;
    transform: rotate(-25deg);
    filter: drop-shadow(30px 45px 40px #161616);
    transition: 1s;
}

.troca-efeito {
    opacity: 0;
    transform: rotate(-25deg) translateX(-30px);
}

.caixa-principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;

}

.caixa-texto {
    max-width: 500px;
}

.caixa-botoes {
    width: 270px;
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-left: 150px;
}

.botoes {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
}

.botoes:active {
    opacity: 0.6;
}

.verde {
    background: #ccee66;
}

.azul {
    background: #58cced;
}

.rosa {
    background: #ff9eb5;
}

.footer {
    text-align: center;
    background-color: #090909;
    padding: 1px;
}